In [1]:
import pandas as pd

In [2]:
# to read csv file named "samplee" 
weather_data = pd.read_csv("Resources/cities.csv") 
city_data = pd.DataFrame(weather_data,columns=['City','Country','Date','Lat','Lng','Max Temp','Humidity','Cloudiness','Wind Speed'])

# to save as html file 
# named as "Table" 
city_data.to_html("Data.html") 
  
# assign it to a  
# variable (string) 
html_file = city_data.to_html()
city_data

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,hermanus,ZA,1602985579,-34.42,19.23,51.01,95,58,5.91
1,pisco,PE,1602985579,-13.70,-76.22,62.01,87,40,13.87
2,butaritari,KI,1602985580,3.07,172.79,82.51,77,23,20.36
3,tasiilaq,GL,1602985580,65.61,-37.64,46.40,42,6,14.99
4,severnyy-kospashskiy,RU,1602985580,59.09,57.80,30.00,92,100,1.99
...,...,...,...,...,...,...,...,...,...
554,la ronge,CA,1602985641,55.10,-105.28,26.60,73,90,19.46
555,namibe,AO,1602985654,-15.20,12.15,69.19,71,58,6.11
556,taltal,CL,1602985618,-25.40,-70.48,58.46,72,6,4.52
557,sisimiut,GL,1602985654,66.94,-53.67,38.17,85,100,15.23
558,surt,LY,1602985654,31.21,16.59,72.88,82,99,13.85